@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@media only screen and (max-width: 620px) {
 main, header, #hero, .hero-img, .info, .container, #form {
  width: 100%;
 }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(160, 128, 128);
}


#header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 16px 5% 0 18px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar {
  
  
}

li, a, button {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.logo {
  width: 60px;
  cursor: pointer;
}

.header-img  {
  display:flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 16px;
}

.nav-links li a {
  transition: all 0.3s ease 0;
}

.nav-links li a:hover {
  color: rgb(255, 255, 255);
}


                         
button {
  padding: 9px 25px;
  background-color: #ac5858;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0;
}

button:hover {
  background-color: #ffffff;
}



main {
  background-color: #c8aeae;
}


#hero {
  padding: 2.5rem;
  margin: 1.5rem;
  display: flex;
  background-color: #c8aeae;
}

.hero-img{
  padding: 16px;
  background-color: #c8aeae;
}


h1 {  
  text-align: center;
  margin-bottom: 16px;
  background-color: #c8aeae;
}

.info {
  padding: 10px;
  background-color: #c8aeae;
}

.hero-btn {
  display: flex;
  align-items: center;
  margin: 20px 0px 0px 350px; /* not responsive but works in 1080p  */
}


#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}



::placeholder {
  color: #000000;
}


#email{
  border: 2px solid;
  border-radius: 2px;
  height: 30px;
  font-size: 14pt;
  width: 300px;
}

.get-started {
  padding: 9px 25px;
  background-color: #ac5858;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0;
  margin: 12px;
}

.get-started:hover {
  background-color: #ffffff;
}

#container {
  display: flex;
}

#video {
  display: flex;
}

.icons  {
  display: table-column-group;
}

.icon-p {
  
}

.fa-sharp, .fa-solid, .fa-solid {
  font-size: 32pt;
  display: flex;
  padding: 20px;
  margin: 10px;
  align-items: center;
}


#form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background-color: #c8aeae;
}

.form-h2 {
  background-color: #c8aeae;
}